@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
  cursor: pointer;
}

.header {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 30px 30px;
  grid-template-areas: "logo contact" "logo nav";
  background: #ffffff;
  padding: 50px 160px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1440px) {
  .header {
    padding: 50px 60px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 50px 60px 0 60px;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 60px 30px;
    gap: 30px;
    margin-bottom: 30px;
    grid-template-areas: "contact" "logo" "nav";
  }
}
@media screen and (max-width: 630px) {
  .header {
    padding: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45px 60px;
    grid-template-areas: "contact contact " "logo nav";
  }
}
.header__logo {
  display: flex;
  grid-area: logo;
}
@media screen and (max-width: 630px) {
  .header__logo {
    padding-left: 15px;
  }
}
.header__logo__img-slash {
  margin: 0 4px;
  width: 21px;
  height: 47px;
}
.header__logo__text {
  color: #323264;
  font-style: normal;
  font-size: 36px;
  line-height: 44px;
}
.header__contact {
  grid-area: contact;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 18px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .header__contact {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 630px) {
  .header__contact {
    justify-content: space-between;
    background: #F5F5FA;
    padding: 0 15px;
  }
}
.header__contact__language {
  display: flex;
}
.header__contact__language__form {
  position: relative;
}
.header__contact__language__form__label {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  color: #B3B3BA;
  width: 32px;
  padding: 5px 7px;
  opacity: 1;
  z-index: 1;
  gap: 7px;
}
.header__contact__language__form__check {
  width: 33px;
  height: 25px;
  z-index: 10;
  opacity: 0;
  position: absolute;
}
.header__contact__language__form__check:hover + .header__contact__language__form__label {
  background-color: #F0145A;
  height: 33px;
  width: 25px;
  border-radius: 8px;
}
.header__contact__language__form__check:focus ~ .header__contact__language__form__label {
  background-color: #F0145A;
  color: #B3B3BA;
  border-radius: 8px;
}
.header__contact__dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
  margin: 10px;
}
@media screen and (max-width: 630px) {
  .header__contact__dot {
    display: none;
  }
}
.header__contact__wrapper__adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B3B3BA;
}
@media screen and (max-width: 630px) {
  .header__contact__wrapper__adress {
    display: none;
  }
}
.header__contact__wrapper__tel {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}
.header__contact__wrapper__fb {
  font-size: 24px;
  color: #B3B3BA;
}
@media screen and (max-width: 630px) {
  .header__contact__wrapper__fb {
    display: none;
  }
}
.header__nav {
  grid-area: nav;
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 1024px) {
  .header__nav {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 630px) {
  .header__nav {
    display: none;
  }
}
.header__nav__wrapper {
  margin-right: 15px;
}
.header__nav__wrapper__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}
.header__nav__wrapper__link:hover {
  color: #F0145A;
  text-decoration: underline;
}
.header__nav__wrapper__link-team {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #F0145A;
  text-decoration: underline;
}

#menu__toggle {
  opacity: 0;
}

.hamburger-menu {
  display: none;
}
@media screen and (max-width: 630px) {
  .hamburger-menu {
    display: block;
  }
}
.hamburger-menu__btn {
  grid-area: nav;
  display: flex;
  justify-content: end;
  padding-right: 15px;
  width: 100%;
  z-index: 1;
}
.hamburger-menu__btn > span, .hamburger-menu__btn > span::before, .hamburger-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: black;
  transition-duration: 0.1s;
}
.hamburger-menu__btn > span::before {
  content: "";
  top: -8px;
}
.hamburger-menu__btn > span::after {
  content: "";
  top: 8px;
}
.hamburger-menu__box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  visibility: hidden;
  width: 30%;
  height: 200px;
  margin-right: 30px;
  padding: 15px;
  list-style: none;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
  background-color: #ffffff;
}
.hamburger-menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.hamburger-menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .hamburger-menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .hamburger-menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .hamburger-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .hamburger-menu__box {
  visibility: visible;
  right: 0;
}

.section {
  margin-bottom: 60px;
}
.section__container__title {
  margin-bottom: 60px;
  padding: 0 280px;
}
@media screen and (max-width: 1440px) {
  .section__container__title {
    padding: 0 180px;
  }
}
@media screen and (max-width: 768px) {
  .section__container__title {
    padding: 0 60px;
  }
}
@media screen and (max-width: 375px) {
  .section__container__title {
    padding: 0 30px;
  }
}
.section__container__title__text {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media screen and (max-width: 375px) {
  .section__container__title__text {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  }
}
.section__container__cards {
  padding: 0 160px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(383px, 1fr));
  gap: 60px;
}
@media screen and (max-width: 1590px) {
  .section__container__cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}
@media screen and (max-width: 1440px) {
  .section__container__cards {
    padding: 0 60px;
  }
}
@media screen and (max-width: 1120px) {
  .section__container__cards {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}
@media screen and (max-width: 910px) {
  .section__container__cards {
    grid-template-columns: repeat(auto-fit, minmax(174px, 1fr));
  }
}
@media screen and (max-width: 375px) {
  .section__container__cards {
    padding: 0 30px;
  }
}
.section__container__cards__inner__img {
  margin-bottom: 15px;
}
.section__container__cards__inner__img__item {
  width: 100%;
}
.section__container__cards__inner__content {
  display: flex;
  justify-content: space-between;
}
.section__container__cards__inner__content__wrapper__item-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
.section__container__cards__inner__content__wrapper__item-1:hover {
  color: #F0145A;
}
.section__container__cards__inner__content__wrapper__item-2 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}
.section__container__cards__inner__content__link {
  padding: 4px 9px;
  width: 30px;
  height: 30px;
  background: #EDEDF7;
  border-radius: 50px;
}
.section__container__cards__inner__content__link__item {
  font-size: 20px;
  color: #24A3FF;
}
.section__container__cards__inner__content__link__item:hover {
  color: #F0145A;
}

.footer {
  padding: 30px 160px 0 160px;
  background: #F5F5FA;
}
@media screen and (max-width: 1440px) {
  .footer {
    padding: 30px 60px 0 60px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 15px 0 15px;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
@media screen and (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}
.footer__container__contact__wrapper {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
@media screen and (max-width: 420px) {
  .footer__container__contact__wrapper {
    flex-direction: column;
  }
}
.footer__container__contact__wrapper__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
.footer__container__contact__wrapper__dot {
  width: 6px;
  height: 6px;
  background: #B3B3BA;
  border-radius: 50%;
  margin: 5px;
}
@media screen and (max-width: 420px) {
  .footer__container__contact__wrapper__dot {
    visibility: hidden;
  }
}
.footer__container__contact__wrapper__link-onmap {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.footer__container__contact__wrapper__link-fb {
  color: #24A3FF;
  font-size: 38px;
}
.footer__container__contact__wrapper__link-tel {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #46466E;
}
.footer__container__contact__wrapper__link-mail {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}
.footer__container__info {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #B3B3BA;
}/*# sourceMappingURL=team.css.map */